In [ ]:
# Q1. Create one variable containing following type of data:

In [ ]:
# (i) string

my_str = "HARSH ANAND"

my_str

'HARSH ANAND'

In [ ]:
# (ii) list

my_list = [2,3,4,5,"harsh",34.34]

my_list

[2, 3, 4, 5, 'harsh', 34.34]

In [ ]:
# (iii) float

my_float = 45.3366

my_float

45.3366

In [ ]:
# (iv) tuple

my_tuple = (10,30,50)

my_tuple

(10, 30, 50)

In [ ]:
# Q2. Given are some following variables containing data:

In [ ]:
# (i) ans:- 

d = ''

In [ ]:
type(d)

str

In [ ]:
# (ii) ans:- 

e = '[DS, ML, Python]'

In [ ]:
type(e)

str

In [ ]:
# (iii) ans :-

f = ['DS' , 'ML' , 'Python']

In [ ]:
type(f)

list

In [ ]:
#(iv) ans:- 

g = 1.

In [ ]:
type(g)

float

In [ ]:
# Q3. Explain the use of the following operators using an example:

In [3]:
#  (i) /
# The division operator (/) is used to perform division between two numbers.
# Example :-

a = 20/3
print(a)

6.666666666666667

In [1]:
# (ii) % :
# The modulus operator (%) returns the remainder of the division between two numbers.
#Example :- 

b = 20%3
print(b)

2

In [2]:
# (iii) // :
# The floor division operator (//) performs division between two numbers and rounds down the result to the nearest whole number.
# Example :- 

c = 20//3
print(c)

6

In [ ]:
# (iv) ** :
# The exponentiation operator (**) raises the left operand to the power of the right operand
# Example : - 

d = 2 ** 4
print(d)

16

In [ ]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [ ]:
# ans :- 
o = [1,2,3,4,True,6,"harsh",34.45,"pwskills",10]

for i in o :
    print(type(i))
    print(i)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'bool'>
True
<class 'int'>
6
<class 'str'>
harsh
<class 'float'>
34.45
<class 'str'>
pwskills
<class 'int'>
10

In [ ]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [ ]:
# ans :- 
def find_divisions(A, B):
    count = 0
    while A >= B:
        A -= B
        count += 1
    return count
A = 550
B = 11

divisions = find_divisions(A, B)

if divisions > 0:
    print(f"{A} is purely divisible by {B}. It can be divided {divisions} times.")
else:
    print(f"{A} is not divisible by {B}.")

550 is purely divisible by 11. It can be divided 50 times.

In [ ]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [ ]:
# ans :- 
my_list = [21, 5, 12, 15, 33, 14, 27, 48, 24, 6, 54, 33, 3, 36, 18, 64, 66, 43, 19, 22, 17, 41, 73, 28, 86]

# Using for loop and if-else condition to check if each element is divisible by 3
for i in my_list:
    if i % 3 == 0:
        print(f"{i} is divisible by 3.")
    else:
        print(f"{i} is not divisible by 3.")

21 is divisible by 3.
5 is not divisible by 3.
12 is divisible by 3.
15 is divisible by 3.
33 is divisible by 3.
14 is not divisible by 3.
27 is divisible by 3.
48 is divisible by 3.
24 is divisible by 3.
6 is divisible by 3.
54 is divisible by 3.
33 is divisible by 3.
3 is divisible by 3.
36 is divisible by 3.
18 is divisible by 3.
64 is not divisible by 3.
66 is divisible by 3.
43 is not divisible by 3.
19 is not divisible by 3.
22 is not divisible by 3.
17 is not divisible by 3.
41 is not divisible by 3.
73 is not divisible by 3.
28 is not divisible by 3.
86 is not divisible by 3.

In [ ]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [ ]:
# ans :- 

# Mutable :- Mutable data types are those whose state can be modified after they are created. 
# EXAMPLE :-  List , set , dict

d = [2,3,4,5,6,"harsh",3+9j,True,34.56]

d[1] = 10
d[5] = "anand"

print(d)

[2, 10, 4, 5, 6, 'anand', (3+9j), True, 34.56]

In [ ]:
# immutable :- Immutable data types are those whose state cannot be modified after they are created. 
# EXAMPLE :-  String,Tuple,int